body {
    margin:0;
}

.navbar {
    background-color: #000;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.navlinks {
    font-size: 1.5rem;
    color: white;
    margin: 0 30px;
}

/* To move the last link to the right side use margin-left:auto; because align-self doesn't work on main-axis */

.right {
    margin-left: auto;
    margin-right: 100px;
}