.container {
    width: 100%;
    height: 90vh;
    display: grid;
    /* grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 100px 200px 100px; */

    /* grid-template: row values / column values -> shorthand property */
    /* grid-template: 1fr 2fr 1fr  / 1fr 1fr 1fr; */

    /* minmax function 
        - It's is used to set the min and max width for the columns and also for the height of the row */
    
    /* minmax(min, max); */
    /*grid-template-columns: minmax(200px, 1fr); /*Look here now the box takes the full width of the container because of setting max width to 1fr and it shrinks down to 200px becuase of providing min width but it doesnot shrink below 200px*/
    /* The above is specified for one column for multiple one we call the function again and again with parameters */
    /* grid-template-columns: minmax(200px , 1fr) minmax(200px, 2fr); */

    /* Now if we give a larger content inside a box, the content gets overflow, To grow the size of the box based on the content give second parameter as auto */
    /* grid-template-columns: minmax(200px, auto) minmax(200px, auto) minmax(200px, auto); */

    /* repeat(no.of. times to repeat rows/columns / size) */
    /*grid-template-columns: repeat(2, 1fr) repeat(3, 2fr); /*Here 5 columns use the size of 1 fraction instead of writing for all the columns we can use like this*/

    /* fit-content() is used to avoid oversizing due to the content we clamp it at some px and it doesnot going beyond that */
    grid-template-columns: 1fr 1fr 1fr; /*Now see each box takes 1fr exactly and the box doesnot fit based on the content*/
    grid-template-columns: fit-content(300px) fit-content(300px) fit-content(300px); /* Now instead of taking the equal widths the box only grow upto their content and at max 0f 300px it stops growing */
}