.box {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    /* background-color: blueviolet; */
    /* background-image sets the image as a background  */
    /* If we want Multiple backgrounds we can do it. */
    /* In below the first url sets the background on top then the second one will show behind the first one */
    background-image: url("images/people.jpg");
    /* This property is used to control the background repetation if it's small. For Eg: peacock png is an icon so it filled repeatedly over the box to avoid this we use the below property */
   /* background-repeat: no-repeat; /* This sets the background for exactly one time*/
   /* background-repeat: repeat-x; /* This sets the background repetation over the horizontal direction only*/
   /* background-repeat: repeat-y; /* This sets the background repetation over the vertical direction only*/
   /* background-repeat: repeat; /* This is the default one it filled the background repeatedly as possible inside the container*/

    /* It scales the images height and width and repeat the background if space is occur more*/
    /* background-size: contain; */

    /* It scales the images height and width and don't repeat the background */
    background-size: cover;

    /* background-position is used to position the image inside the container */
    background-position: center;
}