.box {
    border: 1px solid red;
    width: 500px;
    height: 500px;
    /* background-color: blueviolet; */
    /* background-image sets the image as a background  */
    /* If we want Multiple backgrounds we can do it. */
    /* In below the first url sets the background on top then the second one will show behind the first one */
    background-image: url('images/peacock.png'), url("images/food.jpg");
    bac
}